
.pointer {
    cursor: pointer;
}

.tableCellsAlignMiddle td {
  vertical-align: middle !important;
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tableCellsSmaller td {
  font-size: smaller;
}

.projectTitle {
  margin-top: 4rem;
}

.currentmark {
  position: relative;
  color: #ffa700;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  bottom: 80px;
}

.timestampColumn {
  width: 9ch;
}

.keyBindingColumn {
  width: 6ch;
  text-align: center;
}

.tagColumn {
  width: 12ch;
}

.youtubeIdColumn {
  width: 14ch;
}

.actionsColumn {
  width: 9ch;
  text-align: center;
}

.actionsColumnButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

