
.pointer {
    cursor: pointer;
}

.tableCellsAlignMiddle td {
  vertical-align: middle !important;
}

.projectTitle {
  margin-top: 4rem;
}

.currentmark {
  position: relative;
  color: #ffa700;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  bottom: 80px;
}

.timestampColumn {
  width: 10ch;
}

.keyBindingColumn {
  width: 6ch;
  text-align: center;
}

.actionsColumn {
  width: 14ch;
  text-align: center;
}

.actionsColumnButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

