<div>

  <div class="card">
    <div class="card-header">
      Edit Mark
    </div>
    <form class="card-body" ng-submit="editMarkCtrl.acceptEdit()">

      <div class="input-group">
        <span class="input-group-prepend" id="sizing-addon2">
          <span class="input-group-text">{{editMarkCtrl.mark.timestamp | secondsToTime}}</span>
        </span>
        <input 
          type="text"
          class="form-control"
          ng-model="editMarkCtrl.descriptionToEdit"
          aria-describedby="sizing-addon2"
          autofocus>
      </div>

      </br>

      <div class="btn-group">
        <!-- <button type="button" class="btn btn-primary" type="submit">Aceptar</button> -->
        <button type="button" class="btn btn-primary" ng-click="editMarkCtrl.acceptEdit()">Aceptar</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn" ng-click="editMarkCtrl.cancelEdit()">Cancelar</button>
      </div>
    </form>
  </div>

</div>
