<div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Edit Mark</h3>
    </div>
    <form class="panel-body" ng-submit="editMarkCtrl.acceptEdit()">
      <div class="input-group">
        <span class="input-group-addon" id="sizing-addon2">{{editMarkCtrl.mark.timestamp | secondsToTime}}</span>
        <input type="text" class="form-control" ng-model="editMarkCtrl.descriptionToEdit"
               aria-describedby="sizing-addon2" autofocus>
      </div>
      </br>
      <!-- Split button -->
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-primary" type="submit">Aceptar</button> -->
        <button type="button" class="btn btn-primary" ng-click="editMarkCtrl.acceptEdit()">Aceptar</button>
      </div>
      <div class="btn-group">
        <button type="button" class="btn" ui-sref="listMarksState">Cancelar</button>
      </div>
    </form>
  </div>

</div>
