<div>
  <div>
    <a class="btn btn-default" ng-click="insertMark()">
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      Insert mark</a>
  </div>

  <br>

  <div style="height: 600px; overflow-y: scroll">
    <table class="table">
      <thead>
        <tr>
          <th>Timestamp</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="mark in currentVideo.marks | orderBy: '-timestamp' "
          ng-class="currentMark.timestamp == mark.timestamp ? 'active' : ''">
          <td><a ng-click="listMarksCtrl.seekTo(mark.timestamp)" class="pointer">{{mark.timestamp | secondsToTime}}</a>
          </td>
          <td>{{mark.description}}</td>
          <td><a ng-click="listMarksCtrl.editMarkAt(mark)" class="pointer"><span
                class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
          <td><a ng-click="listMarksCtrl.removeMarkAt(mark)" class="pointer"><span
                class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>