<div>

  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn dropdown-toggle" type="button" id="addMarkMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add mark
          </button>
          <div class="dropdown-menu" aria-labelledby="addMarkMenuButton">
            <a ng-repeat="each in listMarksCtrl.allTags" class="dropdown-item" ng-click="addMark(each)">{{ each.id }} [<strong>{{ each.keyBinding }}</strong>]</a>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" ng-click="listMarksCtrl.goToImportMarks()">
          Import marks
        </a>
      </li>
      <li class="nav-item">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Export marks
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" ng-click="listMarksCtrl.downloadCSV()">CSV</a>
            <a class="dropdown-item" ng-click="listMarksCtrl.downloadJson()">Json</a>
          </div>
        </div>
      </li>
    </ul>
  </nav>


  <div style="height: 750px; overflow-y: scroll">
    <table class="table table-sm tableCellsAlignMiddle tableCellsSmaller">
      <thead>
        <tr>
          <th class="timestampColumn">Time</th>
          <th class="tagColumn">Tag</th>
          <th>Comment</th>
          <th class="actionsColumn">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr
          ng-repeat="mark in currentVideo.marks | orderBy: '-timestamp' "
          ng-class="currentMark.timestamp == mark.timestamp ? 'table-primary' : ''">

          <td class="timestampColumn">
            <a ng-click="listMarksCtrl.seekTo(mark.timestamp)" class="pointer">{{mark.timestamp | secondsToTime}}</a>
          </td>

          <td class="tagColumn">
            <div editable-select="mark.tagId" e-name="tagId" e-form="markRowForm" e-ng-options="each.id as each.id for each in listMarksCtrl.allTags">
              <img 
                ng-style="{'background-color': listMarksCtrl.tagColorFor(mark), 'vertical-align': 'text-bottom'}" 
                src="/node_modules/bootstrap-icons/icons/square.svg" alt="Color">
              <span>{{ listMarksCtrl.tagStringFor(mark) }}</span>
            </div>
          </td>

          <td>
            <span editable-text="mark.description" e-name="description" e-form="markRowForm" e-ng-keydown="listMarksCtrl.hackySubmit($event,markRowForm)">
              {{ mark.description }}
            </span>
          </td>

          <td class="actionsColumn">
            <form
              editable-form 
              name="markRowForm"
              ng-show="markRowForm.$visible"
              onbeforesave="listMarksCtrl.updateMark($data, mark.timestamp)"
              class="form-buttons form-inline actionsColumnButtons"
              shown="inserted == mark">

              <div>
                <button type="submit" class="btn btn-sm btn-success" ng-disabled="markRowForm.$waiting" title="Accept">
                  <img src="/node_modules/bootstrap-icons/icons/check.svg" alt="Accept">
                </button>

                <button type="button" class="btn btn-sm btn-danger" ng-disabled="markRowForm.$waiting" ng-click="markRowForm.$cancel()">
                  <img src="/node_modules/bootstrap-icons/icons/x.svg" alt="Cancel">
                </button>
              </div>

            </form>

            <div class="actionsColumnButtons" ng-show="!markRowForm.$visible">
              <button class="btn btn-sm" ng-click="markRowForm.$show()" title="Edit mark">
                <img src="/node_modules/bootstrap-icons/icons/pencil-square.svg" alt="Inline Edit">
              </button>
              <button class="btn btn-sm" ng-click="listMarksCtrl.deleteMarkAt(mark)" title="Delete mark">
                <img src="/node_modules/bootstrap-icons/icons/trash.svg" alt="Delete">
              </button>
            </div>
          </td>





        </tr>
      </tbody>
    </table>
  </div>

</div>