<div class="container">

    <div class="row">

        <h2>Videos</h2>

        <table class="table">

            <thead>
                <tr>
                    <th>Youtube ID</th>
                    <th>Title</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="each in projectCtrl.summaryOfAllVideos" >
                    <td>
                        <a ng-click="projectCtrl.selectedVideoChanged(each.youtubeId)" class="pointer">{{each.youtubeId}}</a>
                    </td>
                    <td>{{each.title}}</td>
                </tr>
            </tbody>

        </table>


        <h2>Tags</h2>

        <table class="table">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Insert Key Binding</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="each in projectCtrl.allTags" >
                    <td>{{each.id}}</td>
                    <td>{{each.description}}</td>
                    <td>{{insertKeyBinding}}</td>
                </tr>
            </tbody>

        </table>

    </div>

</div>