<div class="container">

    <div class="row">







        <div class="col-md-6">

            <h2 class="projectTitle display-4">Videos</h2>

            <table class="table tableCellsAlignMiddle">

                <thead>
                    <tr>
                        <th class="youtubeIdColumn">Youtube ID</th>
                        <th>Title</th>
                        <th class="actionsColumn">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="aVideo in projectCtrl.summaryOfAllVideos">

                        <td class="youtubeIdColumn">
                            <a ng-click="projectCtrl.selectedVideoChanged(aVideo.youtubeId)" class="pointer">
                                <span>
                                    {{ aVideo.youtubeId }}
                                </span>
                            </a>
                        </td>

                        <td>
                            <span editable-text="aVideo.title" e-name="title" e-form="videoRowForm">
                                {{ aVideo.title || 'Untitled' }}
                            </span>
                        </td>

                        <td>
                            <form editable-form 
                                name="videoRowForm"
                                ng-show="videoRowForm.$visible"
                                onbeforesave="projectCtrl.saveVideo($data, aVideo.youtubeId)"
                                class="form-buttons form-inline actionsColumnButtons"
                                shown="inserted == aVideo">

                                <div >
                                    <button type="submit" class="btn btn-sm btn-success" ng-disabled="videoRowForm.$waiting" title="Accept" >
                                        <img src="/node_modules/bootstrap-icons/icons/check.svg" alt="Accept">
                                    </button>
    
                                    <button type="button" class="btn btn-sm btn-danger" ng-disabled="videoRowForm.$waiting" ng-click="videoRowForm.$cancel()">
                                         <img src="/node_modules/bootstrap-icons/icons/x.svg" alt="Cancel">
                                    </button>
                                </div>

                            </form>

                            <div class="actionsColumnButtons" ng-show="!videoRowForm.$visible">
                                <button class="btn btn-sm" ng-click="videoRowForm.$show()" title="Edit video">
                                    <img src="/node_modules/bootstrap-icons/icons/pencil-square.svg" alt="Inline Edit">
                                </button>
                                <button class="btn btn-sm" ng-click="projectCtrl.deleteVideo(aVideo)" title="Delete video">
                                    <img src="/node_modules/bootstrap-icons/icons/trash.svg" alt="Delete">
                                </button>
                            </div>
                        </td>

                    </tr>

                </tbody>

            </table>

            <a class="btn btn-light" ng-click="projectCtrl.addEmptyVideo()">Add Video</a>

        </div>






        <div class="col-md-6">

            <h2 class="projectTitle display-4">Tags</h2>

            <table class="table tableCellsAlignMiddle">

                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Description</th>
                        <th class="keyBindingColumn">Key</th>
                        <th class="keyBindingColumn">Color</th>
                        <th class="actionsColumn">Actions</th>
                    </tr>
                </thead>
    
                <tbody>
                    <tr ng-repeat="aTag in projectCtrl.allTags">
    
                        <td>
                            <span>
                                {{ aTag.id }}
                            </span>
                        </td>
    
                        <td>
                            <span editable-text="aTag.description" e-name="description" e-form="tagRowForm">
                                {{ aTag.description || 'Empty' }}
                            </span>
                        </td>
    
                        <td class="keyBindingColumn">
                            <span editable-text="aTag.keyBinding" e-name="keyBinding" e-form="tagRowForm">
                                {{ aTag.keyBinding || 'None' }}
                            </span>
                        </td>

                        <td class="keyBindingColumn">
                            <span editable-color="aTag.color" e-name="color" e-form="tagRowForm">
                                <img ng-style="{'background-color': aTag.color}" src="/node_modules/bootstrap-icons/icons/square.svg" alt="Color">
                            </span>
                        </td>

                        <td class="actionsColumn">
                            <form editable-form 
                                name="tagRowForm"
                                ng-show="tagRowForm.$visible"
                                onbeforesave="projectCtrl.updateTag($data, aTag.id)"
                                class="form-buttons form-inline actionsColumnButtons"
                                shown="inserted == aTag">
    
                                <div >
                                    <button type="submit" class="btn btn-sm btn-success" ng-disabled="tagRowForm.$waiting" title="Accept" >
                                        <img src="/node_modules/bootstrap-icons/icons/check.svg" alt="Accept">
                                    </button>
    
                                    <button type="button" class="btn btn-sm btn-danger" ng-disabled="tagRowForm.$waiting" ng-click="tagRowForm.$cancel()">
                                         <img src="/node_modules/bootstrap-icons/icons/x.svg" alt="Cancel">
                                    </button>
                                </div>
    
                            </form>
    
                            <div class="actionsColumnButtons" ng-show="!tagRowForm.$visible">
                                <button class="btn btn-sm" ng-click="tagRowForm.$show()" title="Edit tag">
                                    <img src="/node_modules/bootstrap-icons/icons/pencil-square.svg" alt="Inline Edit">
                                </button>
                                <button class="btn btn-sm" ng-click="projectCtrl.deleteTag(aTag)" title="Delete tag">
                                    <img src="/node_modules/bootstrap-icons/icons/trash.svg" alt="Delete">
                                </button>
                            </div>
                        </td>
    
                    </tr>
    
                </tbody>
    
            </table>
    
            <a class="btn btn-light" ng-click="projectCtrl.addEmptyTag()">Add Tag</a>

        </div>








    </div>


</div>