<div class="container-fluid">

  <div class="row">
    <button type="button" class="btn" ui-sref="project">
      <img src="/node_modules/bootstrap-icons/icons/arrow-left.svg" alt="Go to project" >
      Project
    </button>
  </div>

  <div class="row">

    <div class="col-md-7">
      <youtube-video 
        player-height="'800px'"
        player-width="'100%'"
        player="thePlayer"
        video-id="thePlayerVideoId">
      </youtube-video>
      <div class="currentmark">{{currentMark.description}}</div>
    </div>

    <div class="col-md-5">


      
      <div class="btn-toolbar mb-3" role="toolbar" aria-label="Video controls">
        <div class="btn-group mr-2" role="group" aria-label="Backward">
          <seek-delta-button delta="-5"></seek-delta-button>
          <seek-delta-button delta="-1"></seek-delta-button>
          <seek-delta-button delta="-0.5"></seek-delta-button>
          <seek-delta-button delta="-0.1"></seek-delta-button>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="Forward">
          <seek-delta-button delta="0.1"></seek-delta-button>
          <seek-delta-button delta="0.5"></seek-delta-button>
          <seek-delta-button delta="1"></seek-delta-button>
          <seek-delta-button delta="5"></seek-delta-button>
        </div>
      </div>




      <div ui-view></div>
    </div>

  </div>

</div>